<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Details</title>
</head>
<body>
    <h1>
        Customer Details
    </h1>
    <h2>
        {{mycustomers.first_name}} {{mycustomers.last_name}}
    </h2>
    <p>
        Phone: {{mycustomers.phone}}
    </p>
    <p>
        Address: {{mycustomers.address}}
    </p>
    <p>
        back to <a href="/customers">Customers Page.</a>
    </p>
</body>
</html>